@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Archivo';
    src: url(../fonts/Archivo-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Lato';
    src: url(../fonts/Lato-Regular.ttf);
}

:root {
    --primary-color: #2C2A6B;
    --primary-hover: #22204d;
    --link-color: #49D7F0;
    --link-hover: #3db7cc;
    --font-1: "Archivo", "Odoo Unicode Support Noto", sans-serif;
    --font-2: "Lato", "Odoo Unicode Support Noto", sans-serif;
    --font-3: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}

.text-montserrat{
    font-family: var(--font-3);
}

.text-lato{
    font-family: var(--font-2);
}

.text-archivo{
    font-family: var(--font-1);
}

.bg-main{
    background-color: var(--primary-color);
}

.bg-sub{
    background-color: var(--link-color);
}

.text-main{
    color: var(--primary-color);
}

.text-sub{
    color: var(--link-color);
}

.btn-main{
    background-color: var(--primary-color);
}

.btn-sub{
    background-color: var(--link-color);
}

.btn-main:hover{
    background-color: var(--primary-hover);
}

.btn-sub:hover{
    background-color: var(--link-hover);
}

.header-shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 12px 0px;
}

.header-link{
    color: #0000008C;
}
